:root {
  --azure: #0290ff;
  --black-two: #121212;
  --white: #fafafa;
  --white-two: #fff;
  --white-three: #e8e8e8;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
}

a {
  color: var(--azure);
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

button {
  padding: 0.3rem 0.75rem;
  border-radius: 4px;
  color: var(--white-two);
  background: var(--azure);
  border: none;
  outline: none;
  cursor: pointer;
}

.rocket-card {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cancel-rocket-booking-btn {
  color: inherit;
  background: var(--white-three);
  border: 2px solid #ccc;
}

.rocket-card .image {
  width: 200px;
}

.rocket-card .name {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.rocket-card .booked-badge {
  display: inline-block;
  padding: 0 8px;
  margin-right: 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  color: var(--white-two);
  background-color: #048a76;
}

.rocket-card .description {
  padding-bottom: 0.8rem;
  line-height: 1.3rem;
}

.profile {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.missions {
  flex: 1;
}

.rockets {
  flex: 1;
}

.rocket-items,
.mission-items {
  padding: 0;
  border-radius: 4px;
  border: 1px solid var(--white-three);
}

.rocket-item,
.mission-item {
  padding: 1rem;
  border-bottom: 1px solid var(--white-three);
}
